@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Lora:400,500,600,700,400i,500i,600i,700i&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap'); 
@font-face { 
  font-family:"wsocial";
  src:url(https://cdn2.editmysite.com/fonts/wSocial/wsocial.eot?ts=1725655801149);
  src:url(https://cdn2.editmysite.com/fonts/wSocial/wsocial.eot?ts=1725655801149#iefix) format("embedded-opentype"),url(https://cdn2.editmysite.com/fonts/wSocial/wsocial.woff?ts=1725655801149) format("woff"),url(https://cdn2.editmysite.com/fonts/wSocial/wsocial.ttf?ts=1725655801149) format("truetype"),url(https://cdn2.editmysite.com/fonts/wSocial/wsocial.svg?ts=1725655801149#wsocial) format("svg");
  font-weight:normal;
  font-style:normal;
} 
  body {  
    text-align:left;
    background:#fff;
    color:#7c7c7c;
    font:17px/1 'Oxygen', sans-serif;
    font-weight:400;
  }  
* { 
    user-select: none;
} 

.wsite-section-wrap:only-child .wsite-body-section { 
    height: 400px; 
    vertical-align: top;
} 

body:not(.wsite-editor) .wrapper { 
    opacity: 0;
} 

body { 
    margin: 0; 
    padding: 0;
} 

body { 
    width: 100%; 
    height: 100%; 
    background: #e6e6e6; 
    color: #7c7c7c; 
    font: 17px/1 'Oxygen', sans-serif; 
    font-weight: 400; 
    -webkit-font-smoothing: antialiased; 
    -webkit-overflow-scrolling: touch;
} 

html { 
    margin: 0; 
    padding: 0;
} 

html { 
    width: 100%; 
    height: 100%;
} 

.container { 
    width: 100%; 
    max-width: 1100px; 
    margin: 0 auto; 
    padding: 0 2em; 
    box-sizing: border-box;
} 

.container  { 
    padding-top: 50px; 
    padding-bottom: 50px;
} 

h2 { 
    margin: 0; 
    padding: 0;
} 

h2 { 
    font-size: 1.8em; 
    margin: 0 auto .5em; 
    color: #333333;
} 

h2,.wsite-content-title { 
    word-wrap: break-word;
} 

.wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2 ,#wsite-content h2 { 
    font-family: "News Cycle" !important;
} 

.paragraph { 
    word-wrap: break-word;
} 

div.paragraph { 
    margin: 0; 
    padding: 0;
} 

div.paragraph { 
    line-height: 1.5; 
    margin: 0 auto 1em;
} 

.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph ,div.paragraph  { 
    font-family: "Lora" !important;
} 

div.paragraph  { 
    color: #333 !important;
} 

hr.styled-hr { 
    background-color: rgba(0,0,0,0.13); 
    border: 0pt none; 
    color: rgba(0,0,0,0.13); 
    height: 1px; 
    margin: 0 auto; 
    text-align: center;
} 

a { 
    text-decoration: none; 
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
} 

a { 
    color: #3f3f3f;
} 

.wsite-button { 
    display: inline-block; 
    padding: 0 15px 0 0; 
    background: url(https://cdn2.editmysite.com/images/common/buttons/small_grey.png) no-repeat 100% -100px; 
    text-decoration: none !important; 
    font-weight: normal !important; 
    font-size: 14px !important; 
    color: #222 !important; 
    cursor: pointer;
} 

.wsite-button { 
    display: inline-block; 
    padding: .85em 1.5em !important; 
    font-size: .8em !important; 
    border-radius: 6px; 
    max-width: 100%; 
    color: #fff !important; 
    background: #3f3f3f !important; 
    height: auto !important; 
    line-height: 1 !important; 
    box-sizing: border-box; 
    transition: all 0.2s ease-in-out;
} 

a:hover { 
    color: #191919;
} 

.wsite-button:hover { 
    background-position: 100% -133px;
} 

.wsite-button:hover,.wsite-button:active { 
    background: #595959 !important;
} 

.wsite-image { 
    position: relative;
} 

.wsite-multicol { 
    position: relative; 
    direction: ltr;
} 

#text { 
    font-size: 30px; 
    color: #333; 
    animation: flicker 1s infinite;
} 

.wsite-button-inner { 
    float: left; 
    background: url(https://cdn2.editmysite.com/images/common/buttons/small_grey.png) no-repeat 0 -1px; 
    padding: 0 5px 0 20px; 
    height: 32px; 
    line-height: 32px; 
    white-space: nowrap;
} 

.wsite-button-inner { 
    color: inherit !important; 
    background: none !important; 
    padding: 0 !important; 
    line-height: 1 !important; 
    height: auto !important; 
    font-family: 'Oxygen', sans-serif; 
    display: block; 
    font-size: 1em; 
    font-weight: 600; 
    text-decoration: none; 
    text-transform: uppercase;
} 

.wsite-button:hover .wsite-button-inner { 
    background-position: 0 -34px;
} 

.wsite-image a  { 
    display: inline-block\9; 
    max-width: 100%\9;
} 

.age-verification { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(255,255,255,.9); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 9999;
} 

.faq-section  { 
    margin-bottom: 20px;
} 

img { 
    -ms-interpolation-mode: bicubic;
} 

img { 
    -webkit-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none;
} 

.wsite-image-border-none a img  { 
    border-width: 0 !important;
} 

.wsite-multicol-table { 
    position: relative; 
    border-collapse: collapse; 
    table-layout: fixed; 
    width: 100%; 
    margin: 0 !important; 
    border: 0 !important; 
    padding: 0 !important;
} 

.modal-content { 
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 400px; 
    text-align: center;
} 

.faq-question { 
    font-weight: bold; 
    cursor: pointer; 
    background: #f1f1f1; 
    padding: 10px; 
    border: 1px solid #ddd; 
    margin-top: 10px;
} 

.faq-answer { 
    display: none; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-top: none;
} 

h2 { 
    word-wrap: break-word;
} 

.modal-content h2  { 
    margin-top: 0;
} 

p { 
    margin: 0; 
    padding: 0;
} 

p { 
    line-height: 1.5; 
    margin: 0 auto 1em;
} 

.modal-content p  { 
    margin-bottom: 20px;
} 

.wsite-elements.wsite-not-footer:not(.wsite-header-elements) p ,#wsite-content p { 
    font-family: "Lora" !important;
} 

#wsite-content p { 
    color: #333 !important;
} 

.age-btn { 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin: 5px 0;
} 

.age-btn:hover { 
    background-color: #0056b3;
} 

.wsite-multicol-col { 
    vertical-align: top; 
    margin: 0 !important; 
    border: 0 !important; 
    padding: 0; 
    -moz-box-sizing: border-box;
} 

.wsite-social { 
    position: relative; 
    display: inline-block; 
    white-space: nowrap;
} 

.wsite-social { 
    vertical-align: middle !important; 
    white-space: normal !important;
} 

.storage-section { 
    max-width: 300px; 
    padding: 15px; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
    margin: 15px auto; 
    overflow: hidden;
} 

.rotate { 
    display: inline-block; 
    animation: rotate 2s linear infinite;
} 

.wsite-social-item { 
    display: inline-block; 
    vertical-align: top; 
    margin: 0 1px; 
    width: 24px; 
    height: 24px; 
    background: url(https://cdn2.editmysite.com/images/common/social_icons.png) no-repeat;
} 

.wsite-social-youtube { 
    background-position: -168px 0;
} 

@media screen, projection{ 
  .wsite-social-item { 
    display: inline; 
    vertical-align: middle; 
    width: auto; 
    height: auto; 
    background-image: none; 
    background-repeat: no-repeat; 
    text-transform: none; 
    text-decoration: none;
  } 
}     

.wsite-social-item { 
    display: inline-block; 
    margin: 0 4px 4px 0 !important;
} 

@media screen, projection{ 
  .wsite-social .wsite-social-item  { 
    display: inline-block;
  } 

  .wsite-social-youtube:before { 
    content: "\e606";
  } 

  .wsite-social-item:before,.wsite-social-item:after, #wsite-com-product-social-sharing .wsite-com-product-social-facebook::before, #wsite-com-product-social-sharing .wsite-com-product-social-facebook::after, #wsite-com-product-social-sharing .wsite-com-product-social-twitter::before, #wsite-com-product-social-sharing .wsite-com-product-social-twitter::after, #wsite-com-product-social-sharing .wsite-com-product-social-pinterest::before, #wsite-com-product-social-sharing .wsite-com-product-social-pinterest::after, #wsite-com-product-social-sharing .wsite-com-product-social-plus::before, #wsite-com-product-social-sharing .wsite-com-product-social-plus::after { 
    font-family: "wsocial"; 
    speak: none; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
  } 
}     

.wsite-social-item:before { 
    display: inline-block; 
    width: 16px !important; 
    height: 16px !important; 
    font-size: 16px !important; 
    line-height: 1 !important; 
    text-align: center !important; 
    border-radius: 100% !important; 
    background: #3f3f3f !important; 
    color: #fff !important;
} 

.wsite-social-item:before { 
    padding: 8px !important;
} 

@media screen, projection{ 
  .wsite-social-item::before, .wsite-social-item::after, #wsite-com-product-social-sharing .wsite-com-product-social-facebook::before, #wsite-com-product-social-sharing .wsite-com-product-social-facebook::after, #wsite-com-product-social-sharing .wsite-com-product-social-twitter::before, #wsite-com-product-social-sharing .wsite-com-product-social-twitter::after, #wsite-com-product-social-sharing .wsite-com-product-social-pinterest::before, #wsite-com-product-social-sharing .wsite-com-product-social-pinterest::after, #wsite-com-product-social-sharing .wsite-com-product-social-plus::before, #wsite-com-product-social-sharing .wsite-com-product-social-plus::after { 
    font-family: "wsocial"; 
    speak: none; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
  } 

  .wsite-social-item:hover { 
    text-decoration: none;
  } 
}     

.wsite-social-item:hover:before { 
    color: #fff; 
    background: #191919;
} 

@media screen, projection{ 
  .wsite-social-instagram:before { 
    content: "\e607";
  } 
}     

.wsite-social-linkedin { 
    background-position: -48px 0;
} 

@media screen, projection{ 
  .wsite-social-linkedin:before { 
    content: "\e602";
  } 
}     

.profile-info { 
    display: flex; 
    align-items: center; 
    padding: 10px 0;
} 

.drive-image { 
    width: 40px; 
    float: left; 
    margin-right: 8px;
} 

.storage-info { 
    color: #333; 
    overflow: hidden;
} 

.profile-pic { 
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    background-image: url('https://contact-amv.weebly.com/uploads/1/5/0/2/150236641/published/fotor-2024081710314.png?1723913044'); 
    background-size: cover; 
    background-position: center; 
    margin-right: 10px;
} 

.channel-info { 
    display: flex; 
    flex-direction: column;
} 

.storage-text { 
    margin: 0; 
    font-size: 14px;
} 

.progress-bar { 
    height: 10px; 
    background-color: #ddd; 
    border-radius: 5px; 
    margin-top: 6px;
} 

h1 { 
    margin: 0; 
    padding: 0;
} 

.channel-info h1  { 
    margin: 0; 
    font-size: 24px; 
    color: #333; 
    display: flex; 
    align-items: center;
} 

.subscribers { 
    color: #606060; 
    font-size: 14px; 
    margin: 5px 0 0 0;
} 

.additional-info { 
    color: #606060; 
    font-size: 14px; 
    margin: 2px 0 0 0;
} 

.progress { 
    height: 100%; 
    width: calc((1.38 / 30) * 100%); 
    background-color: #4CAF50; 
    border-radius: 5px;
} 

.artist-badge { 
    display: flex; 
    align-items: center; 
    margin-left: 4px;
} 

.artist-badge svg  { 
    width: 12px; 
    height: 12px; 
    fill: #000;
} 


@keyframes flicker { 
  0% {  
      opacity: 1; 
      opacity: 1; 
  }  
  50% {  
      opacity: 0; 
      opacity: 0; 
  }  
  100% {  
      opacity: 1; 
      opacity: 1; 
  }  

} 
@keyframes rotate { 
  100% {  
      transform: rotateY(360deg); 
      transform: rotateY(360deg); 
  }  

} 
/* These were inline style tags. Uses id+class to override almost everything */
#920195016358621546.style-LDiWH {  
   width: 100%;  
    overflow-y: hidden;  
}  
#style-Pfoi3.style-Pfoi3 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-JApev.style-JApev {  
   width:0px;  
}  
#style-lkQzd.style-lkQzd {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-HNJD1.style-HNJD1 {  
   text-align:left;  
}  
#style-RlNza.style-RlNza {  
   height: 10px;  
    overflow: hidden;  
}  
#style-h1E9e.style-h1E9e {  
   color:rgb(255, 255, 255);  
    font-weight:600;  
}  
#style-OE6wP.style-OE6wP {  
   height: 10px;  
    overflow: hidden;  
}  
#style-j8Ryj.style-j8Ryj {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-8FhLS.style-8FhLS {  
   width:0px;  
}  
#style-4WDXm.style-4WDXm {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-jJzxl.style-jJzxl {  
   text-align:left;  
}  
#style-2dYJk.style-2dYJk {  
   height: 10px;  
    overflow: hidden;  
}  
#style-VLkjL.style-VLkjL {  
   color:rgb(255, 255, 255);  
    font-weight:600;  
}  
#style-n4vXb.style-n4vXb {  
   height: 10px;  
    overflow: hidden;  
}  
#style-DIj5T.style-DIj5T {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-H8JFI.style-H8JFI {  
   width:0px;  
}  
#style-clzPd.style-clzPd {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-gt2Yo.style-gt2Yo {  
   height: 100px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Dgton.style-Dgton {  
   width:0px;  
}  
#style-X9FGH.style-X9FGH {  
   height: 100px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-h2jNT.style-h2jNT {  
   padding-top:10px;  
   padding-bottom:10px;  
   margin-left:0px;  
   margin-right:0px;  
   text-align:center;  
}  
#style-dQBKw.style-dQBKw {  
   width:auto;  
   max-width:100%;  
}  
#style-RKiZR.style-RKiZR {  
   display:block;  
   font-size:90%;  
}  
#style-sYif9.style-sYif9 {  
   margin:0 -15px;  
}  
#style-9eKVY.style-9eKVY {  
   width:50%;  
    padding:0 15px;  
}  
#278931076899994458.style-1P4zn {  
   width: 100%;  
    overflow-y: hidden;  
}  
#style-JNobe.style-JNobe {  
   width:50%;  
    padding:0 15px;  
}  
#369824800698597705.style-4kIlU {  
   width: 100%;  
    overflow-y: hidden;  
}  
#style-eUBMR.style-eUBMR {  
   height: 100px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-avWtV.style-avWtV {  
   width:0px;  
}  
#style-FngqO.style-FngqO {  
   height: 100px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-zBOvB.style-zBOvB {  
   padding-top:10px;  
   padding-bottom:10px;  
   margin-left:0;  
   margin-right:0;  
   text-align:center;  
}  
#style-CD6hR.style-CD6hR {  
   width:716;  
   max-width:100%;  
}  
#style-oFhyi.style-oFhyi {  
   display:block;  
   font-size:90%;  
}  
#style-QP6GJ.style-QP6GJ {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-nU9zp.style-nU9zp {  
   width:0px;  
}  
#style-2doFQ.style-2doFQ {  
   height: 90px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-xUIJy.style-xUIJy {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-IzK4x.style-IzK4x {  
   width:0px;  
}  
#style-8RcQZ.style-8RcQZ {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-9wUoD.style-9wUoD {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Fk3L7.style-Fk3L7 {  
   width:0px;  
}  
#style-TKHsJ.style-TKHsJ {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-ss4fX.style-ss4fX {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-nsWgY.style-nsWgY {  
   width:0px;  
}  
#style-x2EFU.style-x2EFU {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-loROo.style-loROo {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-sU4fe.style-sU4fe {  
   width:0px;  
}  
#style-mYRAT.style-mYRAT {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-9VoeM.style-9VoeM {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-KMGob.style-KMGob {  
   width:0px;  
}  
#style-V3RRp.style-V3RRp {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-rHVzN.style-rHVzN {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-YERlP.style-YERlP {  
   width:0px;  
}  
#style-cqfQd.style-cqfQd {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Itph6.style-Itph6 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-LQoNQ.style-LQoNQ {  
   width:0px;  
}  
#style-rvmJ3.style-rvmJ3 {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-b6Hs5.style-b6Hs5 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-8R1io.style-8R1io {  
   width:0px;  
}  
#style-1olJL.style-1olJL {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-qAsXJ.style-qAsXJ {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-oJPsR.style-oJPsR {  
   width:0px;  
}  
#style-XhvIP.style-XhvIP {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-U1Tvj.style-U1Tvj {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-gTV4e.style-gTV4e {  
   width:0px;  
}  
#style-5bngI.style-5bngI {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-R4rjC.style-R4rjC {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-HBo1L.style-HBo1L {  
   width:0px;  
}  
#style-4CSrS.style-4CSrS {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-8eXtY.style-8eXtY {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-YLydD.style-YLydD {  
   width:0px;  
}  
#style-f2fZ6.style-f2fZ6 {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-m6eH1.style-m6eH1 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Ef1rP.style-Ef1rP {  
   width:0px;  
}  
#style-izS8k.style-izS8k {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-TkoNv.style-TkoNv {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-XAqDY.style-XAqDY {  
   width:0px;  
}  
#style-tSPIl.style-tSPIl {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-M5QMm.style-M5QMm {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-dyVb7.style-dyVb7 {  
   width:0px;  
}  
#style-SDp8I.style-SDp8I {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-bRehr.style-bRehr {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-HLEI3.style-HLEI3 {  
   width:0px;  
}  
#style-lbCf9.style-lbCf9 {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-EVGkb.style-EVGkb {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-GEy9I.style-GEy9I {  
   width:0px;  
}  
#style-YNpZa.style-YNpZa {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-ttof3.style-ttof3 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-zUR1T.style-zUR1T {  
   width:0px;  
}  
#style-QCC1a.style-QCC1a {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Tpz86.style-Tpz86 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-fDMmb.style-fDMmb {  
   width:0px;  
}  
#style-WCVkI.style-WCVkI {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-jw1yt.style-jw1yt {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-gLZnv.style-gLZnv {  
   width:0px;  
}  
#style-Typ3Z.style-Typ3Z {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Jrlbc.style-Jrlbc {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-drVxo.style-drVxo {  
   width:0px;  
}  
#style-eLO5n.style-eLO5n {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-zImpC.style-zImpC {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-r4dTN.style-r4dTN {  
   width:0px;  
}  
#style-zCR1L.style-zCR1L {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-I4cMM.style-I4cMM {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-VZkHZ.style-VZkHZ {  
   width:0px;  
}  
#style-MKxN4.style-MKxN4 {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Kakym.style-Kakym {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-pnkzs.style-pnkzs {  
   width:0px;  
}  
#style-5xohZ.style-5xohZ {  
   height: 30px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-R8q1Z.style-R8q1Z {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Z7pIy.style-Z7pIy {  
   width:0px;  
}  
#style-ERANE.style-ERANE {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-vwt49.style-vwt49 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-baJAJ.style-baJAJ {  
   width:0px;  
}  
#style-xhfqB.style-xhfqB {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-eoMjP.style-eoMjP {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-dgLKB.style-dgLKB {  
   width:0px;  
}  
#style-t1QVa.style-t1QVa {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-oUzGj.style-oUzGj {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-ihMGa.style-ihMGa {  
   width:0px;  
}  
#style-b6ZkS.style-b6ZkS {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-6WAoN.style-6WAoN {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-FdJyF.style-FdJyF {  
   width:0px;  
}  
#style-mxWqi.style-mxWqi {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-c6S3Y.style-c6S3Y {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-98yeQ.style-98yeQ {  
   width:0px;  
}  
#style-BLh1e.style-BLh1e {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-YYE85.style-YYE85 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-ExHdJ.style-ExHdJ {  
   width:0px;  
}  
#style-4GZ7E.style-4GZ7E {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-qFZKo.style-qFZKo {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-dw29g.style-dw29g {  
   width:0px;  
}  
#style-ZITlw.style-ZITlw {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-f3VcH.style-f3VcH {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-ZEfiS.style-ZEfiS {  
   width:0px;  
}  
#style-7t7ha.style-7t7ha {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-o8WnN.style-o8WnN {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-3Rkyd.style-3Rkyd {  
   width:0px;  
}  
#style-bfh5m.style-bfh5m {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-2nLrD.style-2nLrD {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-sxHQH.style-sxHQH {  
   width:0px;  
}  
#style-xI11a.style-xI11a {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-pXePj.style-pXePj {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-GMNvd.style-GMNvd {  
   width:0px;  
}  
#style-wpwqw.style-wpwqw {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-3BceA.style-3BceA {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Jg7Tv.style-Jg7Tv {  
   width:0px;  
}  
#style-owQIs.style-owQIs {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-QUFEC.style-QUFEC {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-xjfla.style-xjfla {  
   width:0px;  
}  
#style-NPSjX.style-NPSjX {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-wEEHU.style-wEEHU {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-ZAH6U.style-ZAH6U {  
   width:0px;  
}  
#style-qKbsi.style-qKbsi {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-9Lgfc.style-9Lgfc {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-hwJyX.style-hwJyX {  
   width:0px;  
}  
#style-UCI1H.style-UCI1H {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-nKtUq.style-nKtUq {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-rPCZq.style-rPCZq {  
   width:0px;  
}  
#style-oVxvx.style-oVxvx {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-HOfmv.style-HOfmv {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-EQU3B.style-EQU3B {  
   width:0px;  
}  
#style-PlGFW.style-PlGFW {  
   height: 50px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-WrxBf.style-WrxBf {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Zd8Bo.style-Zd8Bo {  
   width:0px;  
}  
#style-tltrd.style-tltrd {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-ecNC2.style-ecNC2 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-HA3pK.style-HA3pK {  
   width:0px;  
}  
#style-CNpeE.style-CNpeE {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-8vLsd.style-8vLsd {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-MQE1v.style-MQE1v {  
   width:0px;  
}  
#style-yyW8Q.style-yyW8Q {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Umeo6.style-Umeo6 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-DP2pi.style-DP2pi {  
   width:0px;  
}  
#style-w9BPq.style-w9BPq {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-XIP7C.style-XIP7C {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-jEC2i.style-jEC2i {  
   width:0px;  
}  
#style-7tXGm.style-7tXGm {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-akwfk.style-akwfk {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-jEAR3.style-jEAR3 {  
   width:0px;  
}  
#style-OzGCV.style-OzGCV {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-heDxG.style-heDxG {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-CY1gG.style-CY1gG {  
   width:0px;  
}  
#style-ENm6a.style-ENm6a {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-OULls.style-OULls {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-7ACYL.style-7ACYL {  
   width:0px;  
}  
#style-sKhyD.style-sKhyD {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-6FqoZ.style-6FqoZ {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-iMiOb.style-iMiOb {  
   width:0px;  
}  
#style-zrZO3.style-zrZO3 {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-7BPxq.style-7BPxq {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-6hGp7.style-6hGp7 {  
   width:0px;  
}  
#style-NGFcp.style-NGFcp {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-EvRob.style-EvRob {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-HPsIJ.style-HPsIJ {  
   width:0px;  
}  
#style-bpnfN.style-bpnfN {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-qblCp.style-qblCp {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-GMUoj.style-GMUoj {  
   width:0px;  
}  
#style-nImoH.style-nImoH {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-O6oVT.style-O6oVT {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-zjSGh.style-zjSGh {  
   width:0px;  
}  
#style-Qy8Y9.style-Qy8Y9 {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-FIMGi.style-FIMGi {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-W8aco.style-W8aco {  
   width:0px;  
}  
#style-yAthI.style-yAthI {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-e5WBW.style-e5WBW {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-swq2s.style-swq2s {  
   width:0px;  
}  
#style-e3YaA.style-e3YaA {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-J2BhB.style-J2BhB {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-9GvnA.style-9GvnA {  
   width:0px;  
}  
#style-lBdfD.style-lBdfD {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Y1W8H.style-Y1W8H {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-G1IZ5.style-G1IZ5 {  
   width:0px;  
}  
#style-N7wkK.style-N7wkK {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-N6Rp7.style-N6Rp7 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-1BsUp.style-1BsUp {  
   width:0px;  
}  
#style-NraaE.style-NraaE {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-jCHFU.style-jCHFU {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-81xLj.style-81xLj {  
   width:0px;  
}  
#style-Oz3C4.style-Oz3C4 {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-GsEIl.style-GsEIl {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-VfoNi.style-VfoNi {  
   width:0px;  
}  
#style-PIMVd.style-PIMVd {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-qvkdP.style-qvkdP {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-VYeHB.style-VYeHB {  
   width:0px;  
}  
#style-gPNLP.style-gPNLP {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-WAjvn.style-WAjvn {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-V2e1y.style-V2e1y {  
   width:0px;  
}  
#style-WEoGy.style-WEoGy {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-oMymi.style-oMymi {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-QRPtn.style-QRPtn {  
   width:0px;  
}  
#style-XmOSV.style-XmOSV {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-g36Y5.style-g36Y5 {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-4iwWA.style-4iwWA {  
   width:0px;  
}  
#style-AnILw.style-AnILw {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Wd51f.style-Wd51f {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-ohUUD.style-ohUUD {  
   width:0px;  
}  
#style-okr8a.style-okr8a {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-1cYTi.style-1cYTi {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-MFeF7.style-MFeF7 {  
   width:0px;  
}  
#style-xlmY1.style-xlmY1 {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-pfZXW.style-pfZXW {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-KboJ4.style-KboJ4 {  
   width:0px;  
}  
#style-wOidg.style-wOidg {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Yo21S.style-Yo21S {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-zc8w2.style-zc8w2 {  
   width:0px;  
}  
#style-oPo3p.style-oPo3p {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-G1pPv.style-G1pPv {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-mqmCo.style-mqmCo {  
   width:0px;  
}  
#style-AGFmD.style-AGFmD {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-viXGo.style-viXGo {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-wQBpV.style-wQBpV {  
   width:0px;  
}  
#style-2Wptm.style-2Wptm {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-qSMFM.style-qSMFM {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-NasN9.style-NasN9 {  
   width:0px;  
}  
#style-agqvx.style-agqvx {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-x14xv.style-x14xv {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-UNWmn.style-UNWmn {  
   width:0px;  
}  
#style-pfEQg.style-pfEQg {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-t4hEa.style-t4hEa {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-54nXU.style-54nXU {  
   width:0px;  
}  
#style-pJTCr.style-pJTCr {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-D2eRx.style-D2eRx {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-vSGd4.style-vSGd4 {  
   width:0px;  
}  
#style-nVMIe.style-nVMIe {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-bDPOB.style-bDPOB {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-yFCLL.style-yFCLL {  
   width:0px;  
}  
#style-aExDx.style-aExDx {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-JfiUD.style-JfiUD {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-idoJU.style-idoJU {  
   width:0px;  
}  
#style-tF2bO.style-tF2bO {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-12ZHt.style-12ZHt {  
   margin:0 -15px;  
}  
#style-FrQ6Y.style-FrQ6Y {  
   width:50%;  
    padding:0 15px;  
}  
#style-IkeWo.style-IkeWo {  
   padding-top:10px;  
   padding-bottom:10px;  
   margin-left:0px;  
   margin-right:0px;  
   text-align:center;  
}  
#style-E7pZd.style-E7pZd {  
   width:383;  
   max-width:100%;  
}  
#style-etB9F.style-etB9F {  
   display:block;  
   font-size:90%;  
}  
#style-z7vSI.style-z7vSI {  
   width:50%;  
    padding:0 15px;  
}  
#370661305748294180.style-YoESQ {  
   width: 100%;  
    overflow-y: hidden;  
}  
#style-47N4v.style-47N4v {  
   text-align:left;  
}  
#style-mexTH.style-mexTH {  
   height:10px;  
   overflow:hidden;  
}  
#style-acGzx.style-acGzx {  
   height:10px;  
   overflow:hidden;  
}  
#style-Ezzxj.style-Ezzxj {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-P6a3o.style-P6a3o {  
   width:0px;  
}  
#style-kPYnI.style-kPYnI {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-oQd35.style-oQd35 {  
   padding-top:10px;  
   padding-bottom:10px;  
   margin-left:0px;  
   margin-right:0px;  
   text-align:left;  
}  
#style-XmTzF.style-XmTzF {  
   width:auto;  
   max-width:100%;  
}  
#style-heFYX.style-heFYX {  
   display:block;  
   font-size:90%;  
}  
#style-3ey2n.style-3ey2n {  
   text-align:left;  
}  
#style-oNPrj.style-oNPrj {  
   height: 0px;  
    overflow: hidden;  
}  
#style-AnLW4.style-AnLW4 {  
   color:rgb(255, 255, 255);  
    font-weight:600;  
}  
#style-PRTD4.style-PRTD4 {  
   height: 10px;  
    overflow: hidden;  
}  
#style-ZZKQK.style-ZZKQK {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-Zc4xH.style-Zc4xH {  
   width:0px;  
}  
#style-TzSZy.style-TzSZy {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-IZ6Ar.style-IZ6Ar {  
   padding-top:10px;  
   padding-bottom:10px;  
   margin-left:0px;  
   margin-right:0px;  
   text-align:left;  
}  
#style-XmN9P.style-XmN9P {  
   width:auto;  
   max-width:100%;  
}  
#style-aEyN4.style-aEyN4 {  
   display:block;  
   font-size:90%;  
}  
#style-WjPfr.style-WjPfr {  
   padding-top:10px;  
   padding-bottom:10px;  
   margin-left:0px;  
   margin-right:0px;  
   text-align:left;  
}  
#style-h8dp8.style-h8dp8 {  
   width:auto;  
   max-width:100%;  
}  
#style-AYwhH.style-AYwhH {  
   display:block;  
   font-size:90%;  
}  
#style-n4IUF.style-n4IUF {  
   text-align:left;  
}  
#style-TkNXR.style-TkNXR {  
   height: 10px;  
    overflow: hidden;  
}  
#style-RO2Ud.style-RO2Ud {  
   height: 40px;  
    overflow: hidden;  
}  
#style-3EoA2.style-3EoA2 {  
   padding-top:10px;  
   padding-bottom:10px;  
   margin-left:0px;  
   margin-right:0px;  
   text-align:left;  
}  
#style-gswZ3.style-gswZ3 {  
   width:auto;  
   max-width:100%;  
}  
#style-DtztH.style-DtztH {  
   display:block;  
   font-size:90%;  
}  
#style-YWlKn.style-YWlKn {  
   text-align:left;  
}  
#style-fmCTd.style-fmCTd {  
   height: 10px;  
    overflow: hidden;  
}  
#style-PCt5h.style-PCt5h {  
   color:rgb(255, 255, 255);  
    font-weight:600;  
}  
#style-IgPRp.style-IgPRp {  
   height: 10px;  
    overflow: hidden;  
}  
#style-OSzpT.style-OSzpT {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-3XPzT.style-3XPzT {  
   width:0px;  
}  
#style-SgtGo.style-SgtGo {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-gPwlP.style-gPwlP {  
   padding-top:10px;  
   padding-bottom:10px;  
   margin-left:0px;  
   margin-right:0px;  
   text-align:left;  
}  
#style-HbfcO.style-HbfcO {  
   width:auto;  
   max-width:100%;  
}  
#style-b9Gma.style-b9Gma {  
   display:block;  
   font-size:90%;  
}  
#style-GbyzM.style-GbyzM {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-j5qIN.style-j5qIN {  
   width:0px;  
}  
#style-VrR5T.style-VrR5T {  
   height: 40px;  
    overflow: hidden;  
    width: 0px;  
}  
#545317842221162354.style-Zcgkg {  
   width: 100%;  
    overflow-y: hidden;  
}  
#658040908921672996.style-iZweX {  
   width: 100%;  
    overflow-y: hidden;  
}  
#ageVerification.style-SxvCx {  
   display: none;  
}  
#741873736963936169.style-Zj3qV {  
   width: 100%;  
    overflow-y: hidden;  
}  
#style-iK8ff.style-iK8ff {  
   height: 20px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-YhvPx.style-YhvPx {  
   width:0px;  
}  
#style-ayJmo.style-ayJmo {  
   height: 30px;  
    overflow: hidden;  
    width: 0px;  
}  
#style-O4WLN.style-O4WLN {  
   padding-top:10px;  
   padding-bottom:10px;  
   margin-left:0;  
   margin-right:0;  
   text-align:center;  
}  
#style-XORe2.style-XORe2 {  
   width:786;  
   max-width:100%;  
}  
#style-XFnqQ.style-XFnqQ {  
   display:block;  
   font-size:90%;  
}  
